<div class="container">
  <h2>Add a Robot</h2>
  <div class="row">
    <div class="col-md-12">
      <form (ngSubmit)="onSubmit()" #robotForm="ngForm">
        <ng-container *ngFor="let key of objectKeys(robot)">
          <div class="form-group" *ngIf="key != 'id'">
            <label for="{{key}}">{{key | titlecase}}</label>
            <input type="{{key == 'attack' || key == 'defense' ? 'number' : 'text'}}" class="form-control" 
              id="{{key}}" required [(ngModel)]="robot[key]" name="{{key}}" min="0" max="1000">
          </div>
        </ng-container>
        <button type="submit" class="btn btn-outline-success" [disabled]="!robotForm.form.valid">Submit</button>
      </form>
    </div>
  </div>
</div>