<div class="row">
  <a routerLink="/robots/add" class="col-sm-12 fa fa-plus mb-2 text-right">&nbsp; Create new</a>
  <br>
  <div *ngFor="let robot of robots" class="col-lg-3 col-md-4 rounded-top rounded-bottom">
    <table class="table table-sm table-borderless rounded">
      <th class="text-center border border-dark rounded-top" colspan="2">{{robot.name}}</th>
      <tbody class="border border-dark">
        <ng-container *ngFor="let key of objectKeys(robot)">
          <tr *ngIf="key != 'name' && key != 'id'">
            <td class="font-weight-bold">{{key}}:</td>
            <td>{{robot[key]}}</td>
          </tr>
        </ng-container>
        <tr>
          <td colspan="2" class="text-right">
            <a routerLink="/edit" class="fa fa-pencil mx-2"></a>
            <a href="#" class="fa fa-trash"></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- <nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav> -->