/* You can add global styles to this file, and also import other style files */
@import '~font-awesome/css/font-awesome.css';
html {
  position: relative;
  min-height: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.mb-6 {
  margin-bottom: 4rem !important;
}
